In [1]:
import pandas as pd

df_stop_times = pd.read_csv("gtfs_data/stop_times.csv")
df_stops = pd.read_csv("gtfs_data/stops.csv")
df_translations = pd.read_csv("gtfs_data/translations.csv")

df_stop_times.head()

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled
0,87____:049::8728600:8889011:5:715:20241116,06:27:00,06:27:00,8728600,1,NaN,0,1,NaN
1,87____:049::8728600:8889011:5:715:20241116,06:40:00,06:40:00,8728671,2,NaN,1,1,NaN
2,87____:049::8728600:8889011:5:715:20241116,06:49:00,06:49:00,8728673,3,NaN,0,0,NaN
3,87____:049::8728600:8889011:5:715:20241116,07:01:00,07:01:00,8728654,4,NaN,0,0,NaN
4,87____:049::8728600:8889011:5:715:20241116,07:15:00,07:15:00,8889011,5,NaN,1,1,NaN

In [2]:
df_translations.head(10)

,table_name,field_name,language,translation,record_id,record_sub_id,field_value
0,stops,stop_name,nl,Ingelmunster,NaN,NaN,Ingelmunster
1,stops,stop_name,de,Ingelmunster,NaN,NaN,Ingelmunster
2,stops,stop_name,en,Ingelmunster,NaN,NaN,Ingelmunster
3,stops,stop_name,nl,Izegem,NaN,NaN,Izegem
4,stops,stop_name,de,Izegem,NaN,NaN,Izegem
5,stops,stop_name,en,Izegem,NaN,NaN,Izegem
6,stops,stop_name,nl,Roeselare,NaN,NaN,Roulers
7,trips,trip_headsign,nl,Roeselare,NaN,NaN,Roulers
8,stops,stop_name,de,Roeselare / Roulers,NaN,NaN,Roulers
9,trips,trip_headsign,de,Roeselare / Roulers,NaN,NaN,Roulers

In [3]:
df_stops.head()

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station,platform_code,stop_timezone
0,8015190,NaN,Herzogenrath,NaN,50.87090,6.094400,NaN,NaN,0,NaN,NaN,NaN
1,8015199,NaN,Aix-la-Chapelle Ouest,NaN,50.78078,6.070550,NaN,NaN,0,NaN,NaN,NaN
2,8015345,NaN,Aachen Hbf (DE),NaN,50.76776,6.091390,NaN,NaN,0,NaN,NaN,NaN
3,8015458,NaN,Köln Hbf (DE),NaN,50.94308,6.958970,NaN,NaN,0,NaN,NaN,NaN
4,8061676,NaN,Frankfurt Flugh (DE),NaN,50.13083,8.663611,NaN,NaN,0,NaN,NaN,NaN

In [4]:
import pandas as pd

# Filter the translations DataFrame to include only Dutch translations
df_translations_nl = df_translations[df_translations['language'] == 'nl']

# Merge the DataFrames on the French stop names
df_translated = df_stops.merge(df_translations_nl, left_on='stop_name', right_on='field_value', how='left')

# Replace the French stop names with Dutch translations
df_translated['stop_name'] = df_translated['translation']
df_translated = df_translated[['stop_id', 'stop_name']]

In [5]:
df_translations_nl.head()

,table_name,field_name,language,translation,record_id,record_sub_id,field_value
0,stops,stop_name,nl,Ingelmunster,NaN,NaN,Ingelmunster
3,stops,stop_name,nl,Izegem,NaN,NaN,Izegem
6,stops,stop_name,nl,Roeselare,NaN,NaN,Roulers
7,trips,trip_headsign,nl,Roeselare,NaN,NaN,Roulers
12,stops,stop_name,nl,Poperinge,NaN,NaN,Poperinge

In [6]:
df_stop_times["stop_id"] = df_stop_times["stop_id"].astype(str)

df_translated["stop_id"] = df_translated["stop_id"].astype(str)

In [7]:
df_merged = pd.merge(df_stop_times, df_translated, on='stop_id')

In [8]:
df_merged.head()

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled,stop_name
0,87____:049::8728600:8889011:5:715:20241116,06:27:00,06:27:00,8728600,1,NaN,0,1,NaN,NaN
1,87____:049::8728600:8889011:5:715:20241116,06:40:00,06:40:00,8728671,2,NaN,1,1,NaN,NaN
2,87____:049::8728600:8889011:5:715:20241116,06:49:00,06:49:00,8728673,3,NaN,0,0,NaN,NaN
3,87____:049::8728600:8889011:5:715:20241116,07:01:00,07:01:00,8728654,4,NaN,0,0,NaN,NaN
4,87____:049::8728600:8889011:5:715:20241116,07:15:00,07:15:00,8889011,5,NaN,1,1,NaN,Mouscron-Frontière

In [9]:
df_cleaned = df_merged[["trip_id", "departure_time", "stop_id", "stop_sequence", "stop_name"]]

In [10]:
# Split the departure_time column into hours and minutes
df_cleaned['hours'] = df_cleaned['departure_time'].str.split(':', expand=True)[0]
df_cleaned['minutes'] = df_cleaned['departure_time'].str.split(':', expand=True)[1]

# Convert hours and minutes to integers to remove leading zeros
df_cleaned['hours'] = df_cleaned['hours'].astype(int)
df_cleaned['minutes'] = df_cleaned['minutes'].astype(int)

C:\Users\Jelle\AppData\Local\Temp\ipykernel_43724\699540803.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['hours'] = df_cleaned['departure_time'].str.split(':', expand=True)[0]
C:\Users\Jelle\AppData\Local\Temp\ipykernel_43724\699540803.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['minutes'] = df_cleaned['departure_time'].str.split(':', expand=True)[1]
C:\Users\Jelle\AppData\Local\Temp\ipykernel_43724\699540803.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['hours'] = df_cleaned['hours'].astype(int)
C:\Users\Jelle\AppData\Local\Temp\ipykernel_43724\699540803.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['minutes'] = df_cleaned['minutes'].astype(int)

In [11]:
df_cleaned.head()

,trip_id,departure_time,stop_id,stop_sequence,stop_name,hours,minutes
0,87____:049::8728600:8889011:5:715:20241116,06:27:00,8728600,1,NaN,6,27
1,87____:049::8728600:8889011:5:715:20241116,06:40:00,8728671,2,NaN,6,40
2,87____:049::8728600:8889011:5:715:20241116,06:49:00,8728673,3,NaN,6,49
3,87____:049::8728600:8889011:5:715:20241116,07:01:00,8728654,4,NaN,7,1
4,87____:049::8728600:8889011:5:715:20241116,07:15:00,8889011,5,Mouscron-Frontière,7,15

In [12]:
mask = df_cleaned['stop_name'].isin(['Brussel-Noord'])
df_cleaned[mask].head()

,trip_id,departure_time,stop_id,stop_sequence,stop_name,hours,minutes
25296,88____:049::8814001:8811601:17:747:20241117,06:01:00,8812005,5,Brussel-Noord,6,1
25297,88____:049::8814001:8811601:17:747:20241117,06:01:00,8812005,5,Brussel-Noord,6,1
55168,88____:046::8821006:8814001:20:654:20241130,06:46:00,8812005,16,Brussel-Noord,6,46
55169,88____:046::8821006:8814001:20:654:20241130,06:46:00,8812005,16,Brussel-Noord,6,46
55245,88____:046::8814001:8821006:20:724:20250413,06:18:00,8812005,5,Brussel-Noord,6,18

In [13]:
# Step 1: Read the graph.lp file and extract the list of nodes
nodes = []
with open('graph_all_filtered.lp', 'r') as file:
    for line in file:
        if line.startswith('node('):
            node = line.split('(')[1].split(',')[0]
            nodes.append(node)
print(nodes)

['brussel_noord', 'brussel_noord', 'brussel_noord', 'brussel_noord', 'brussel_noord', 'brussel_noord', 'brussel_congres', 'brussel_centraal', 'brussel_zuid', 'brussel_zuid', 'brussel_zuid', 'brussel_zuid', 'brussel_zuid', 'la_louviere_centrum', "'s_gravenbrakel", "'s_gravenbrakel", 'ecaussinnes', 'luttre', 'luttre', 'bergen', 'bergen', 'zottegem', 'zottegem', 'geraardsbergen', 'vorst_oost', 'ukkel_kalevoet', 'linkebeek', 'sint_genesius_rode', 'waterloo', 'eigenbrakel', 'lillois', 'nijvel', 'marchienne_au_pont', 'charleroi_centraal', 'charleroi_centraal', 'charleroi_centraal', 'luik_guillemins', 'luik_guillemins', 'luik_guillemins', 'flemalle_haute', 'flemalle_haute', 'hoei', 'statte', 'andenne', 'namen', 'namen', 'namen', 'namen', 'seraing', 'kontich_lint', 'kontich_lint', 'kontich_lint', 'lier', 'auvelais', 'tamines', 'chatelet', 'leuven', 'leuven', 'leuven', 'leuven', 'leuven', 'heverlee', 'waver', 'ottignies', 'ottignies', 'ottignies', 'court_saint_etienne', 'gembloers', 'gembloers', 'heist_op_den_berg', 'schaarbeek', 'schaarbeek', 'schaarbeek', 'schaarbeek', 'schaarbeek', 'schaarbeek', 'schaarbeek', 'brussel_schuman', 'brussel_luxemburg', 'etterbeek', 'etterbeek', 'bosvoorde', 'groenendaal', 'terhulpen', 'genval', 'rixensart', 'louvain_la_neuve', 'louvain_la_neuve', 'ciney', 'marloie', 'marloie', 'rochefort_jemelle', 'libramont', 'libramont', 'marbehan', 'aarlen', 'athus', 'mol', 'landen', 'landen', 'sint_truiden', 'alken', 'hasselt', 'hasselt', 'genk', 'tongeren', 'vilvoorde', 'vilvoorde', 'eppegem', 'eppegem', 'weerde', 'weerde', 'mechelen', 'mechelen', 'mechelen', 'mechelen_nekkerspoel', 'mechelen_nekkerspoel', 'sint_katelijne_waver', 'sint_katelijne_waver', 'duffel', 'duffel', 'hove', 'hove', 'mortsel_oude_god', 'antwerpen_berchem', 'antwerpen_berchem', 'antwerpen_berchem', 'antwerpen_centraal', 'antwerpen_centraal', 'bordet', 'meiser', 'boondaal', 'sint_job', 'halle', 'halle', 'halle', 'mortsel', 'wezemaal', 'aarschot', 'diest', 'haren_zuid', 'haren_zuid', 'diegem', 'diegem', 'zaventem', 'zaventem', 'zaventem', 'nossegem', 'nossegem', 'kortenberg', 'kortenberg', 'herent', 'herent', 'vertrijk', 'tienen', 'borgworm', 'ans', 'brussels_airport_zaventem', 'angleur', 'angleur', 'pepinster', 'welkenraedt', 'barvaux', 'bockstael', 'jette', 'jette', 'sint_agatha_berchem', 'groot_bijgaarden', 'dilbeek', 'sint_martens_bodegem', 'ternat', 'liedekerke', 'denderleeuw', 'denderleeuw', 'erembodegem', 'aalst', 'lede', 'schellebelle', 'schellebelle', 'wetteren', 'melle', 'merelbeke', 'gent_sint_pieters', 'gent_sint_pieters', 'landegem', 'aalter', 'beernem', 'brugge', 'brugge', 'oostende', 'knokke', 'dendermonde', 'dendermonde', 'buggenhout', 'londerzeel', 'kapelle_op_den_bos', 'boortmeerbeek', 'haacht', 'wijgmaal', 'antwerpen_zuid', 'sint_niklaas', 'lokeren', 'beervelde', 'gent_dampoort', 'zellik', 'asse', 'merchtem', 'opwijk', 'heizijde', 'lebbeke', 'zedelgem', 'torhout', 'lichtervelde', 'roeselare', 'izegem', 'ingelmunster', 'kortrijk', 'moeskroen', 'herzeeuw', 'froyennes', 'froyennes', 'saint_ghislain', 'blaton', 'peruwelz', 'doornik', 'doornik', 'haaltert', 'ede', 'burst', 'oudenaarde', 'edingen', 'opzullik', 'aat', 'leuze', 'vorst_zuid', 'ruisbroek', 'lot', 'buizingen', 'lembeek', 'tubeke', 'hennuyeres', 'zinnik', 'jurbeke']

In [20]:
df_cleaned['stop_name'] = df_cleaned['stop_name'].str.lower().str.replace('-', '_')

df_filtered = df_cleaned[df_cleaned['stop_name'].isin(nodes)]
df_filtered.drop_duplicates()
# Converteer de DataFrame naar ASP-regels
asp_rules = []
for index, row in df_filtered.iterrows():
    if not 'nan' in str(row['stop_name']):
        if not f"departure_time({row['stop_id']}, '{row['hours']}', '{row['minutes']}')." in asp_rules:
            asp_rules.append(f"departure_time({row['stop_id']}, '{row['hours']}', '{row['minutes']}').")
        if not f"stop_id({row['stop_id']}, {row['stop_sequence']})." in asp_rules:
            asp_rules.append(f"stop_id({row['stop_id']}, {row['stop_sequence']}).")
        if not f"stop_sequence({row['stop_id']}, {row['stop_sequence']})." in asp_rules:    
            asp_rules.append(f"stop_sequence({row['stop_id']}, {row['stop_sequence']}).")
        if not f"stop_name({row['stop_id']}, '{row['stop_name']}')." in asp_rules:
            asp_rules.append(f"stop_name({row['stop_id']}, '{row['stop_name']}').")


asp_program = "\n".join(asp_rules)

# Print of sla het ASP-programma op
with open('schedule.lp', 'w') as file:
    file.write(asp_program)

C:\Users\Jelle\AppData\Local\Temp\ipykernel_43724\4241986791.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['stop_name'] = df_cleaned['stop_name'].str.lower().str.replace('-', '_')

In [18]:
df_cleaned

,trip_id,departure_time,stop_id,stop_sequence,stop_name,hours,minutes
0,87____:049::8728600:8889011:5:715:20241116,06:27:00,8728600,1,NaN,6,27
1,87____:049::8728600:8889011:5:715:20241116,06:40:00,8728671,2,NaN,6,40
2,87____:049::8728600:8889011:5:715:20241116,06:49:00,8728673,3,NaN,6,49
3,87____:049::8728600:8889011:5:715:20241116,07:01:00,8728654,4,NaN,7,1
4,87____:049::8728600:8889011:5:715:20241116,07:15:00,8889011,5,mouscron_frontière,7,15
...,...,...,...,...,...,...,...
902665,88____:046::8865003:8864345:6:2130:20251213,21:21:00,8864311,4,forrières,21,21
902666,88____:046::8865003:8864345:6:2130:20251213,21:25:00,8864006,5,rochefort_jemelle,21,25
902667,88____:046::8865003:8864345:6:2130:20251213,21:25:00,8864006,5,rochefort_jemelle,21,25
902668,88____:046::8865003:8864345:6:2130:20251213,21:30:00,8864345,6,marloie,21,30
902669,88____:046::8865003:8864345:6:2130:20251213,21:30:00,8864345,6,marloie,21,30

In [16]:
df_filtered

,trip_id,departure_time,stop_id,stop_sequence,stop_name,hours,minutes
6,88____:049::8889011:8896008:3:748:20241116,07:18:00,8885704,6,moeskroen,7,18
7,88____:049::8889011:8896008:3:748:20241116,07:18:00,8885704,6,moeskroen,7,18
8,88____:049::8889011:8896008:3:748:20241116,07:48:00,8896008,7,kortrijk,7,48
9,88____:049::8889011:8896008:3:748:20241116,07:48:00,8896008,7,kortrijk,7,48
10,88____:049::8892007:8896008:6:2516:20241121,23:43:00,8892007,1,gent_sint_pieters,23,43
...,...,...,...,...,...,...,...
902662,88____:046::8865003:8864345:6:2130:20251213,20:56:00,8865003,1,libramont,20,56
902666,88____:046::8865003:8864345:6:2130:20251213,21:25:00,8864006,5,rochefort_jemelle,21,25
902667,88____:046::8865003:8864345:6:2130:20251213,21:25:00,8864006,5,rochefort_jemelle,21,25
902668,88____:046::8865003:8864345:6:2130:20251213,21:30:00,8864345,6,marloie,21,30
902669,88____:046::8865003:8864345:6:2130:20251213,21:30:00,8864345,6,marloie,21,30

In [21]:
asp_rules

["departure_time(8885704, '7', '18').",
 'stop_id(8885704, 6).',
 'stop_sequence(8885704, 6).',
 "stop_name(8885704, 'moeskroen').",
 "departure_time(8896008, '7', '48').",
 'stop_id(8896008, 7).',
 'stop_sequence(8896008, 7).',
 "stop_name(8896008, 'kortrijk').",
 "departure_time(8892007, '23', '43').",
 'stop_id(8892007, 1).',
 'stop_sequence(8892007, 1).',
 "stop_name(8892007, 'gent_sint_pieters').",
 "departure_time(8896008, '25', '16').",
 'stop_id(8896008, 6).',
 'stop_sequence(8896008, 6).',
 "departure_time(8895208, '5', '51').",
 'stop_id(8895208, 1).',
 'stop_sequence(8895208, 1).',
 "stop_name(8895208, 'zottegem').",
 "departure_time(8895455, '6', '20').",
 'stop_id(8895455, 5).',
 'stop_sequence(8895455, 5).',
 "stop_name(8895455, 'burst').",
 "departure_time(8895877, '6', '30').",
 'stop_id(8895877, 6).',
 'stop_sequence(8895877, 6).',
 "stop_name(8895877, 'ede').",
 "departure_time(8895869, '6', '36').",
 'stop_id(8895869, 7).',
 'stop_sequence(8895869, 7).',
 "stop_name(8895869, 'haaltert').",
 "departure_time(8895802, '6', '49').",
 'stop_id(8895802, 9).',
 'stop_sequence(8895802, 9).',
 "stop_name(8895802, 'denderleeuw').",
 "departure_time(8892601, '9', '25').",
 'stop_id(8892601, 2).',
 'stop_sequence(8892601, 2).',
 "stop_name(8892601, 'oudenaarde').",
 "departure_time(8896008, '7', '14').",
 'stop_id(8896008, 1).',
 'stop_sequence(8896008, 1).',
 "departure_time(8893542, '7', '19').",
 'stop_id(8893542, 1).',
 'stop_sequence(8893542, 1).',
 "stop_name(8893542, 'schellebelle').",
 "departure_time(8893401, '7', '52').",
 'stop_id(8893401, 5).',
 'stop_sequence(8893401, 5).',
 "stop_name(8893401, 'dendermonde').",
 "departure_time(8896008, '24', '27').",
 'stop_id(8896008, 4).',
 'stop_sequence(8896008, 4).',
 "departure_time(8896008, '23', '11').",
 "departure_time(8893401, '7', '6').",
 'stop_id(8893401, 1).',
 'stop_sequence(8893401, 1).',
 "departure_time(8822145, '7', '26').",
 'stop_id(8822145, 3).',
 'stop_sequence(8822145, 3).',
 "stop_name(8822145, 'buggenhout').",
 "departure_time(8822111, '7', '51').",
 'stop_id(8822111, 5).',
 'stop_sequence(8822111, 5).',
 "stop_name(8822111, 'londerzeel').",
 "departure_time(8822053, '8', '6').",
 'stop_id(8822053, 6).',
 'stop_sequence(8822053, 6).',
 "stop_name(8822053, 'kapelle_op_den_bos').",
 "departure_time(8822004, '8', '26').",
 'stop_id(8822004, 7).',
 'stop_sequence(8822004, 7).',
 "stop_name(8822004, 'mechelen').",
 "departure_time(8895208, '6', '24').",
 "departure_time(8892601, '6', '59').",
 'stop_id(8892601, 4).',
 'stop_sequence(8892601, 4).',
 "departure_time(8892601, '8', '33').",
 'stop_id(8892601, 1).',
 'stop_sequence(8892601, 1).',
 "departure_time(8893401, '6', '6').",
 "departure_time(8822145, '6', '26').",
 "departure_time(8822111, '6', '51').",
 "departure_time(8892007, '1', '8').",
 "departure_time(8892056, '1', '18').",
 'stop_id(8892056, 3).',
 'stop_sequence(8892056, 3).',
 "stop_name(8892056, 'landegem').",
 "departure_time(8891140, '1', '27').",
 'stop_id(8891140, 6).',
 'stop_sequence(8891140, 6).',
 "stop_name(8891140, 'aalter').",
 "departure_time(8891124, '1', '36').",
 'stop_id(8891124, 8).',
 'stop_sequence(8891124, 8).',
 "stop_name(8891124, 'beernem').",
 "departure_time(8891009, '1', '48').",
 'stop_id(8891009, 10).',
 'stop_sequence(8891009, 10).',
 "stop_name(8891009, 'brugge').",
 "departure_time(8891702, '2', '13').",
 'stop_id(8891702, 11).',
 'stop_sequence(8891702, 11).',
 "stop_name(8891702, 'oostende').",
 "departure_time(8885704, '8', '18').",
 "departure_time(8896008, '8', '48').",
 "departure_time(8895208, '6', '51').",
 "departure_time(8895455, '7', '20').",
 "departure_time(8895877, '7', '30').",
 "departure_time(8895869, '7', '36').",
 "departure_time(8895802, '7', '49').",
 "departure_time(8892601, '10', '25').",
 "departure_time(8896008, '8', '14').",
 "departure_time(8893542, '8', '19').",
 "departure_time(8893401, '8', '52').",
 "departure_time(8896008, '24', '58').",
 "departure_time(8893401, '8', '6').",
 "departure_time(8822145, '8', '26').",
 "departure_time(8822111, '8', '51').",
 "departure_time(8822053, '9', '6').",
 "departure_time(8822004, '9', '26').",
 "departure_time(8895208, '7', '24').",
 "departure_time(8892601, '7', '59').",
 "departure_time(8892601, '9', '33').",
 "departure_time(8892007, '0', '30').",
 "departure_time(8892056, '0', '45').",
 "departure_time(8891140, '1', '0').",
 "departure_time(8891124, '1', '13').",
 "departure_time(8891009, '1', '30').",
 "departure_time(8885704, '9', '20').",
 "departure_time(8896008, '9', '48').",
 "departure_time(8895208, '7', '51').",
 "departure_time(8895455, '8', '20').",
 "departure_time(8895877, '8', '30').",
 "departure_time(8895869, '8', '36').",
 "departure_time(8895802, '8', '49').",
 "departure_time(8812047, '23', '46').",
 'stop_id(8812047, 1).',
 'stop_sequence(8812047, 1).',
 "stop_name(8812047, 'jette').",
 "departure_time(8812062, '24', '5').",
 'stop_id(8812062, 2).',
 'stop_sequence(8812062, 2).',
 "stop_name(8812062, 'zellik').",
 "departure_time(8812070, '24', '12').",
 'stop_id(8812070, 3).',
 'stop_sequence(8812070, 3).',
 "stop_name(8812070, 'asse').",
 "departure_time(8812120, '24', '29').",
 'stop_id(8812120, 5).',
 'stop_sequence(8812120, 5).',
 "stop_name(8812120, 'merchtem').",
 "departure_time(8812146, '24', '40').",
 'stop_id(8812146, 6).',
 'stop_sequence(8812146, 6).',
 "stop_name(8812146, 'opwijk').",
 "departure_time(8812153, '24', '50').",
 'stop_id(8812153, 7).',
 'stop_sequence(8812153, 7).',
 "stop_name(8812153, 'heizijde').",
 "departure_time(8812161, '25', '1').",
 'stop_id(8812161, 8).',
 'stop_sequence(8812161, 8).',
 "stop_name(8812161, 'lebbeke').",
 "departure_time(8893401, '25', '15').",
 'stop_id(8893401, 10).',
 'stop_sequence(8893401, 10).',
 "departure_time(8892601, '11', '25').",
 "departure_time(8892601, '23', '36').",
 "departure_time(8896008, '24', '21').",
 "departure_time(8896008, '9', '14').",
 "departure_time(8893542, '9', '19').",
 "departure_time(8893401, '9', '52').",
 "departure_time(8893401, '9', '6').",
 "departure_time(8822145, '9', '26').",
 "departure_time(8822111, '9', '51').",
 "departure_time(8822053, '10', '6').",
 "departure_time(8822004, '10', '26').",
 "departure_time(8895208, '8', '24').",
 "departure_time(8892601, '8', '59').",
 "departure_time(8892601, '10', '33').",
 "departure_time(8885704, '10', '20').",
 "departure_time(8896008, '10', '48').",
 "departure_time(8895208, '8', '51').",
 "departure_time(8895455, '9', '20').",
 "departure_time(8895877, '9', '30').",
 "departure_time(8895869, '9', '36').",
 "departure_time(8895802, '9', '49').",
 "departure_time(8892601, '12', '25').",
 "departure_time(8896008, '10', '14').",
 "departure_time(8893542, '10', '19').",
 "departure_time(8893401, '10', '52').",
 "departure_time(8892205, '23', '24').",
 'stop_id(8892205, 1).',
 'stop_sequence(8892205, 1).',
 "stop_name(8892205, 'lichtervelde').",
 "departure_time(8896800, '23', '46').",
 'stop_id(8896800, 2).',
 'stop_sequence(8896800, 2).',
 "stop_name(8896800, 'roeselare').",
 "departure_time(8896909, '24', '4').",
 'stop_id(8896909, 3).',
 'stop_sequence(8896909, 3).',
 "stop_name(8896909, 'izegem').",
 "departure_time(8896925, '24', '14').",
 'stop_id(8896925, 4).',
 'stop_sequence(8896925, 4).',
 "stop_name(8896925, 'ingelmunster').",
 "departure_time(8896008, '24', '34').",
 'stop_id(8896008, 5).',
 'stop_sequence(8896008, 5).',
 "departure_time(8893401, '10', '6').",
 "departure_time(8822145, '10', '26').",
 "departure_time(8822111, '10', '51').",
 "departure_time(8822053, '11', '6').",
 "departure_time(8822004, '11', '26').",
 "departure_time(8895208, '9', '24').",
 "departure_time(8892601, '9', '59').",
 "departure_time(8892601, '11', '33').",
 "departure_time(8885704, '11', '20').",
 "departure_time(8896008, '11', '48').",
 "departure_time(8895208, '9', '51').",
 "departure_time(8895455, '10', '20').",
 "departure_time(8895877, '10', '30').",
 "departure_time(8895869, '10', '36').",
 "departure_time(8895802, '10', '49').",
 "departure_time(8892601, '13', '25').",
 "departure_time(8896008, '11', '14').",
 "departure_time(8893542, '11', '19').",
 "departure_time(8893401, '11', '52').",
 "departure_time(8893401, '11', '6').",
 "departure_time(8822145, '11', '26').",
 "departure_time(8822111, '11', '51').",
 "departure_time(8822053, '12', '6').",
 "departure_time(8822004, '12', '26').",
 "departure_time(8895208, '10', '24').",
 "departure_time(8892601, '10', '59').",
 "departure_time(8892601, '12', '33').",
 "departure_time(8885704, '12', '20').",
 "departure_time(8896008, '12', '48').",
 "departure_time(8895208, '10', '51').",
 "departure_time(8895455, '11', '20').",
 "departure_time(8895877, '11', '30').",
 "departure_time(8895869, '11', '36').",
 "departure_time(8895802, '11', '49').",
 "departure_time(8896008, '12', '14').",
 "departure_time(8893542, '12', '19').",
 "departure_time(8893401, '12', '52').",
 "departure_time(8892601, '13', '59').",
 "departure_time(8893401, '12', '6').",
 "departure_time(8822145, '12', '26').",
 "departure_time(8822111, '12', '51').",
 "departure_time(8822053, '13', '6').",
 "departure_time(8822004, '13', '26').",
 "departure_time(8895208, '11', '24').",
 "departure_time(8892601, '11', '59').",
 "departure_time(8892601, '13', '33').",
 "departure_time(8885704, '13', '20').",
 "departure_time(8896008, '13', '48').",
 "departure_time(8895208, '11', '51').",
 "departure_time(8895455, '12', '20').",
 "departure_time(8895877, '12', '30').",
 "departure_time(8895869, '12', '36').",
 "departure_time(8895802, '12', '49').",
 "departure_time(8892601, '14', '25').",
 "departure_time(8896008, '13', '14').",
 "departure_time(8893542, '13', '19').",
 "departure_time(8893401, '13', '52').",
 "departure_time(8893401, '13', '6').",
 "departure_time(8822145, '13', '26').",
 "departure_time(8822111, '13', '51').",
 "departure_time(8822053, '14', '6').",
 "departure_time(8822004, '14', '26').",
 "departure_time(8895208, '12', '24').",
 "departure_time(8892601, '12', '59').",
 "departure_time(8892601, '14', '33').",
 "departure_time(8885704, '14', '20').",
 "departure_time(8896008, '14', '48').",
 "departure_time(8895208, '12', '51').",
 "departure_time(8895455, '13', '20').",
 "departure_time(8895877, '13', '30').",
 "departure_time(8895869, '13', '36').",
 "departure_time(8895802, '13', '49').",
 "departure_time(8892601, '9', '35').",
 "departure_time(8896008, '14', '14').",
 "departure_time(8893542, '14', '19').",
 "departure_time(8893401, '14', '52').",
 "departure_time(8893401, '14', '6').",
 "departure_time(8822145, '14', '26').",
 "departure_time(8822111, '14', '51').",
 "departure_time(8822053, '15', '6').",
 "departure_time(8822004, '15', '26').",
 "departure_time(8895208, '13', '24').",
 "departure_time(8892601, '15', '33').",
 "departure_time(8885704, '15', '20').",
 "departure_time(8896008, '15', '48').",
 "departure_time(8895208, '13', '51').",
 "departure_time(8895455, '14', '20').",
 "departure_time(8895877, '14', '30').",
 "departure_time(8895869, '14', '36').",
 "departure_time(8895802, '14', '49').",
 "departure_time(8892601, '10', '35').",
 "departure_time(8896008, '15', '14').",
 "departure_time(8893542, '15', '19').",
 "departure_time(8893401, '15', '52').",
 "departure_time(8893401, '15', '6').",
 "departure_time(8822145, '15', '26').",
 "departure_time(8822111, '15', '51').",
 "departure_time(8822053, '16', '6').",
 "departure_time(8822004, '16', '26').",
 "departure_time(8895208, '14', '24').",
 "departure_time(8892601, '14', '59').",
 "departure_time(8892601, '16', '33').",
 "departure_time(8885704, '16', '20').",
 "departure_time(8896008, '16', '48').",
 "departure_time(8895208, '14', '51').",
 "departure_time(8895455, '15', '20').",
 "departure_time(8895877, '15', '30').",
 "departure_time(8895869, '15', '36').",
 "departure_time(8895802, '15', '49').",
 "departure_time(8892601, '11', '35').",
 "departure_time(8896008, '16', '14').",
 "departure_time(8893542, '16', '19').",
 "departure_time(8893401, '16', '52').",
 "departure_time(8893401, '16', '6').",
 "departure_time(8822145, '16', '26').",
 "departure_time(8822111, '16', '51').",
 "departure_time(8822053, '17', '6').",
 "departure_time(8822004, '17', '26').",
 "departure_time(8895208, '15', '24').",
 "departure_time(8892601, '15', '59').",
 "departure_time(8892601, '17', '33').",
 "departure_time(8885704, '17', '20').",
 "departure_time(8896008, '17', '48').",
 "departure_time(8895208, '15', '51').",
 "departure_time(8895455, '16', '20').",
 "departure_time(8895877, '16', '30').",
 "departure_time(8895869, '16', '36').",
 "departure_time(8895802, '16', '49').",
 "departure_time(8892601, '12', '35').",
 "departure_time(8896008, '17', '14').",
 "departure_time(8893542, '17', '19').",
 "departure_time(8893401, '17', '52').",
 "departure_time(8893401, '17', '6').",
 "departure_time(8822145, '17', '26').",
 "departure_time(8822111, '17', '51').",
 "departure_time(8822053, '18', '6').",
 "departure_time(8822004, '18', '26').",
 "departure_time(8895208, '16', '24').",
 "departure_time(8892601, '16', '59').",
 "departure_time(8892601, '18', '33').",
 "departure_time(8885704, '18', '20').",
 "departure_time(8896008, '18', '48').",
 "departure_time(8895208, '16', '51').",
 "departure_time(8895455, '17', '20').",
 "departure_time(8895877, '17', '30').",
 "departure_time(8895869, '17', '36').",
 "departure_time(8895802, '17', '49').",
 "departure_time(8896008, '18', '14').",
 "departure_time(8893542, '18', '19').",
 "departure_time(8893401, '18', '52').",
 "departure_time(8892601, '13', '0').",
 "departure_time(8893401, '18', '6').",
 "departure_time(8822145, '18', '26').",
 "departure_time(8822111, '18', '51').",
 "departure_time(8822053, '19', '6').",
 "departure_time(8822004, '19', '26').",
 "departure_time(8895208, '17', '24').",
 "departure_time(8892601, '17', '59').",
 "departure_time(8892601, '19', '33').",
 "departure_time(8885704, '19', '20').",
 "departure_time(8896008, '19', '48').",
 "departure_time(8895208, '17', '51').",
 "departure_time(8895455, '18', '20').",
 "departure_time(8895877, '18', '30').",
 "departure_time(8895869, '18', '36').",
 "departure_time(8895802, '18', '49').",
 "departure_time(8896008, '19', '14').",
 "departure_time(8893542, '19', '19').",
 "departure_time(8893401, '19', '52').",
 "departure_time(8892601, '13', '35').",
 "departure_time(8893401, '19', '6').",
 "departure_time(8822145, '19', '26').",
 "departure_time(8822111, '19', '51').",
 "departure_time(8822053, '20', '6').",
 "departure_time(8822004, '20', '26').",
 "departure_time(8895208, '18', '24').",
 "departure_time(8892601, '18', '59').",
 "departure_time(8892601, '20', '33').",
 "departure_time(8885704, '20', '20').",
 "departure_time(8896008, '20', '48').",
 "departure_time(8895208, '18', '51').",
 "departure_time(8895455, '19', '20').",
 "departure_time(8895877, '19', '30').",
 "departure_time(8895869, '19', '36').",
 "departure_time(8895802, '19', '49').",
 "departure_time(8896008, '20', '14').",
 "departure_time(8893542, '20', '19').",
 "departure_time(8893401, '20', '52').",
 "departure_time(8892601, '14', '35').",
 "departure_time(8893401, '20', '6').",
 "departure_time(8822145, '20', '26').",
 "departure_time(8822111, '20', '51').",
 "departure_time(8822053, '21', '6').",
 "departure_time(8822004, '21', '26').",
 "departure_time(8895208, '19', '24').",
 "departure_time(8892601, '19', '59').",
 "departure_time(8892601, '21', '33').",
 "departure_time(8885704, '21', '20').",
 "departure_time(8896008, '21', '48').",
 "departure_time(8895208, '19', '51').",
 "departure_time(8895455, '20', '20').",
 "departure_time(8895877, '20', '30').",
 "departure_time(8895869, '20', '36').",
 "departure_time(8895802, '20', '49').",
 "departure_time(8896008, '21', '14').",
 "departure_time(8893542, '21', '19').",
 "departure_time(8893401, '21', '52').",
 "departure_time(8821006, '23', '19').",
 'stop_id(8821006, 1).',
 'stop_sequence(8821006, 1).',
 "stop_name(8821006, 'antwerpen_centraal').",
 "departure_time(8821121, '23', '34').",
 'stop_id(8821121, 2).',
 'stop_sequence(8821121, 2).',
 "stop_name(8821121, 'antwerpen_berchem').",
 "departure_time(8821196, '23', '45').",
 'stop_id(8821196, 3).',
 'stop_sequence(8821196, 3).',
 "stop_name(8821196, 'antwerpen_zuid').",
 "departure_time(8894508, '24', '50').",
 'stop_id(8894508, 8).',
 'stop_sequence(8894508, 8).',
 "stop_name(8894508, 'sint_niklaas').",
 "departure_time(8893401, '21', '6').",
 "departure_time(8822145, '21', '26').",
 "departure_time(8822111, '21', '51').",
 "departure_time(8822053, '22', '6').",
 "departure_time(8822004, '22', '26').",
 "departure_time(8895208, '20', '24').",
 "departure_time(8892601, '20', '59').",
 "departure_time(8892601, '7', '27').",
 "departure_time(8885704, '22', '20').",
 "departure_time(8896008, '22', '48').",
 "departure_time(8895208, '20', '51').",
 "departure_time(8895455, '21', '20').",
 "departure_time(8895877, '21', '30').",
 "departure_time(8895869, '21', '36').",
 "departure_time(8895802, '21', '49').",
 "departure_time(8896008, '22', '14').",
 "departure_time(8893542, '22', '19').",
 "departure_time(8893401, '22', '52').",
 "departure_time(8821006, '23', '5').",
 "departure_time(8821121, '23', '20').",
 "departure_time(8821196, '23', '25').",
 "departure_time(8894508, '23', '51').",
 "departure_time(8893401, '22', '6').",
 "departure_time(8822145, '22', '26').",
 "departure_time(8822111, '22', '51').",
 "departure_time(8822053, '23', '6').",
 "departure_time(8822004, '23', '26').",
 "departure_time(8895208, '21', '24').",
 "departure_time(8892601, '21', '59').",
 "departure_time(8892601, '8', '27').",
 "departure_time(8885704, '23', '20').",
 "departure_time(8896008, '23', '48').",
 "departure_time(8895208, '21', '51').",
 "departure_time(8895455, '22', '20').",
 "departure_time(8895877, '22', '30').",
 "departure_time(8895869, '22', '36').",
 "departure_time(8895802, '22', '49').",
 "departure_time(8896008, '23', '14').",
 "departure_time(8893542, '23', '19').",
 "departure_time(8893401, '23', '52').",
 "departure_time(8891009, '22', '57').",
 'stop_id(8891009, 1).',
 'stop_sequence(8891009, 1).',
 "departure_time(8891264, '23', '17').",
 'stop_id(8891264, 2).',
 'stop_sequence(8891264, 2).',
 "stop_name(8891264, 'zedelgem').",
 "departure_time(8891314, '23', '34').",
 'stop_id(8891314, 3).',
 'stop_sequence(8891314, 3).',
 "stop_name(8891314, 'torhout').",
 "departure_time(8892205, '23', '44').",
 'stop_id(8892205, 4).',
 'stop_sequence(8892205, 4).',
 "departure_time(8893401, '23', '6').",
 "departure_time(8822145, '23', '26').",
 "departure_time(8822111, '23', '51').",
 "departure_time(8822053, '24', '6').",
 "departure_time(8822004, '24', '26').",
 "departure_time(8895208, '22', '24').",
 "departure_time(8892601, '22', '59').",
 "departure_time(8892601, '9', '27').",
 "departure_time(8896008, '5', '47').",
 'stop_id(8896008, 8).',
 'stop_sequence(8896008, 8).',
 "departure_time(8893401, '4', '35').",
 "departure_time(8893542, '5', '8').",
 'stop_id(8893542, 5).',
 'stop_sequence(8893542, 5).',
 "departure_time(8896008, '6', '12').",
 "departure_time(8885704, '6', '42').",
 'stop_id(8885704, 2).',
 'stop_sequence(8885704, 2).',
 "departure_time(8895802, '6', '12').",
 'stop_id(8895802, 1).',
 'stop_sequence(8895802, 1).',
 "departure_time(8895869, '6', '25').",
 'stop_id(8895869, 3).',
 'stop_sequence(8895869, 3).',
 "departure_time(8895877, '6', '31').",
 'stop_id(8895877, 4).',
 'stop_sequence(8895877, 4).',
 "departure_time(8895455, '6', '41').",
 "departure_time(8895208, '7', '10').",
 'stop_id(8895208, 9).',
 'stop_sequence(8895208, 9).',
 "departure_time(8893401, '0', '6').",
 "departure_time(8822145, '0', '26').",
 "departure_time(8822111, '0', '51').",
 "departure_time(8822053, '1', '6').",
 "departure_time(8822004, '1', '26').",
 "departure_time(8896008, '5', '46').",
 "departure_time(8895208, '23', '24').",
 "departure_time(8892601, '23', '59').",